/* GENERAL */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif; ;
   
}

/* UTILITY */
.m {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.mb {
    margin-bottom: 10px;
}

h3 {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* SEZIONI PRINCIPALI */
.box-1 {
    background: teal;
    flex-grow: 1;
    display: flex;
    font-size: 14px;
    
    
}

.box-2 {
    height: 60px;
    background: rgb(123, 100, 255);
}

/* SEZIONI ALL'INTERNO DEL BOX-1 */

.sidebar {
    flex-shrink: 0;
    /* height: 100%;  */
    width: 180px;
    display: flex;
    flex-direction: column; 
     background: rgb(0, 0, 0);
     color: rgb(160, 160, 160); 
     
}

/* SEZIONI INTERNE SIDEBAR */

/* contenuto interno sidebar-main */

.sidebar-main {
    flex-grow: 1;
}

.sidebar-main img {
    width: 140px;
}
/* contenuto interno nav-sidebar  */

.nav-sidebar img {
    width: 25px;
    vertical-align: -38%; 
}
ul li  {
    padding: 5px;
    list-style: none;
}
/* contenuto interno footer-sidebar  */

.footer-sidebar .download img {
    width: 15px;
    vertical-align: -25%; 
}
.download {
    margin-bottom: 10px;
}

.footer-sidebar .profile img {
    width: 20px;
    vertical-align: -25%; 
    padding-top: 10px;
}

/* SEZIONI INTERNE MAIN-CONTENT */

 .main-content {
     background: rgb(17, 30, 54);
     color: white;
    flex-grow: 1;
    padding: 90px 15px 0;
} 
/* Sezione bottone */
.content-buttom {
       width: calc(100% - 180px); 
    position: fixed;
    top: 0;
    right: 0;
    height: 80px;
    background: rgba(29, 29, 29, 0.8);
}
     

 .content-buttom button {
    margin-top: 22px;
    margin-left: 86%;
    
} 
/*  sezione menù di navigazione */
.content-menù-nav {
     text-align: center;
    }

    .content-menù-nav li  {
        display: inline-block;
        padding-left:12px;
        padding-right:12px ;
        
    }
    .content-menù-nav li a {
        text-decoration: none;
        color: rgb(160, 160, 160); 
    }

    /* sezione playlist */

    .content-playlist {
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(160, 160, 160); 
    }

    .album-list {
        display: flex;
        flex-wrap: wrap;
    }

    .album-list .album {
        max-width: calc(100% / 6 - 15px);
        margin-right: 15px;
        margin-top: 30px;
        height: 200px;
        
    }

    .album-list .album img {
        width: 100%;
        height: 100%;
   






